.type {
  font-size: 1rem;
  font-family:'Inter',sans-serif;
  font-weight: 100px;
  color: #5E6772;
}

.type__stile {
  font-size: 1rem;
  font-weight: 900px;
  color: #5E6772;
  font-family: 'Inter',sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}

.marca {
  height: 7rem;
  width: 10rem;
}

